---
import IPhoneAppLayout from '../../../layouts/iPhoneAppLayout.astro';
import ResumeApp from '../../../components/global/ResumeApp';
import { userConfig } from '../../../config/index';
---

<IPhoneAppLayout appLabel="Resume">
  <main class="min-h-screen px-4 pb-24 pt-24 text-white sm:px-6">
    <div class="mx-auto max-w-3xl">
      <ResumeApp client:load resume={userConfig.resume} />
    </div>
  </main>
</IPhoneAppLayout>
