---
import iPhoneAppLayout from '../../../layouts/iPhoneAppLayout.astro';
---

<iPhoneAppLayout>
  <main class="min-h-screen px-6 pt-16 text-emerald-200 font-mono">
    <p>DG-Labs:~$</p>
    <p class="text-white/70">Mobile terminal coming soon.</p>
  </main>
</iPhoneAppLayout>
