---
import DesktopLayout from '../../layouts/DesktopLayout.astro';
import WindowFrame from '../../components/global/WindowFrame.astro';
import ResumeApp from '../../components/global/ResumeApp';
import { userConfig } from '../../config/index';
---

<DesktopLayout>
  <main class="mx-auto max-w-4xl px-6 pt-16 text-white">
    <WindowFrame title="Resume">
      <ResumeApp client:load resume={userConfig.resume} />
    </WindowFrame>
  </main>
</DesktopLayout>
